<h2>Peer Graded Assignment - Segmentation and Clustering in the neighbourhoods in Toronto

<h3>1) Reading Toronto data which was extracted into a csv file from Wikipedia

In [98]:
import pandas as pd

df = pd.read_csv('/Users/Rohit/Documents/Foursquare_PG/Toronto_data.csv')

In [142]:
df.head()
df.shape

(103, 3)

<h3> 2) Dropping cells which have "Not assigned" values

In [100]:
df.drop(df[df['Borough'] == 'Not assigned'].index, inplace = True) 
df.shape

(103, 3)

In [101]:
pd.set_option('display.max_rows', None)
df.head()
print(df['Postal Code'].value_counts().head())

M5B    1
M1X    1
M4M    1
M1H    1
M9A    1
Name: Postal Code, dtype: int64

In [102]:
df.dtypes

Postal Code     object
Borough         object
Neighborhood    object
dtype: object

In [143]:
df.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

<h3>3) Combining rows with same postal codes by using comma seperators for Neighborhoods

In [104]:
df = df.groupby('Postal Code').agg({'Borough':'first', 
                             'Neighborhood': ', '.join, 
                              }).reset_index()

In [107]:
#pd.set_option('display.max_rows', None)
df.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [129]:
#df2 = pd.DataFrame({ "Postal Code":['A12'], 
#                    "Borough":['Scarborough'],
#                    "Neighborhood":'Not assigned'})

In [130]:
#df3 = df.append(df2, ignore_index=True)

In [144]:
#df3.shape

<h3> 4) Replacing Neighborhoods with borough names in case it is "Not assigned"

In [145]:
df['Neighborhood'].mask(df['Neighborhood'] == 'Not assigned', df['Borough'], inplace=True)

<h3> 5) Shape of the dataframe after cleaning

In [2]:
df.shape

NameError: name 'df' is not defined

In [141]:
'''
Another way, which would help to learn for more complicated cases of web scraping is using the BeautifulSoup package. 
Here is the package's main documentation page: http://beautiful-soup-4.readthedocs.io/en/latest/
'''

"\nAnother way, which would help to learn for more complicated cases of web scraping is using the BeautifulSoup package. \nHere is the package's main documentation page: http://beautiful-soup-4.readthedocs.io/en/latest/\n"

In [3]:
import geocoder
g = geocoder.google('Mountain View, CA')
g.latlng